body.thankyou .content_wrap .block_left .page_content .content p{
  text-align:center !important;
}

.content_wrap{
  background:#fff;
  margin-top:10px;
  padding:20px;
  display:flex;

  &.reverse{
    flex-direction: row-reverse;

    .block_left{
      padding-left:30px;padding-right:0;
      @media(max-width:768px){
        padding-left:0;
      }
    }
  }

  @media(max-width:991px){margin-top:115px;}
  @media(max-width:768px){margin-top:100px;}
  @media(max-width:380px){margin-top:83px;}

  .block_right{
    width:30%;

    @media(max-width:991px){display:none;}

    .logo{
      text-align:center;
    }

    .big_image{
      padding-bottom:25px;

      img.big-image{
        border: 1px solid #878787;
        border-radius: 160px;
        display: block;
        margin:25px auto 0;
        max-width:65%;
      }

      .lawyer_name{
        margin-top:10px;
        text-align:center;
        display:block;
      }
    }

    .contact_box{
      background-color: #e9eaec;
      padding: 15px;
      margin: 0;
      text-align:center;

      span.title{
        font-weight:bold;
        margin-bottom:10px;
        font-size:29px;
        letter-spacing:-1px;
        display:block;
      }
    }

    .contant_details{
      margin-top:40px;

      h3{font-weight:bold;}
      h2{margin:20px 0;font-size:24px;}
      .address{border-bottom:1px solid #eee;}

      .side_menu{
        ul{
          list-style-type:none;
          padding:0;

          li{
            font-size: 16px;
            margin-bottom: 20px;
            border-bottom: 1px solid #E9EAEC;
            padding-bottom: 10px;
          }
        }
      }
    }


  }

  .block_left{
    width:70%;
    padding-right:30px;

    @media(max-width:991px){width:100%;padding-right:0;}

    .page_content{

      .content{
        iframe{
          //padding: 10px;
          margin: 25px auto;
          text-align: center;
          display: block;
          max-width:100%;

          @media(max-width:480px){height:200px;}
        }

        iframe[data-name="pb-iframe-player"]{
          @media(max-width:480px){height:105px;margin:0;}
        }

        ul.menu{
          list-style-type: none;
          padding: 0;

          li{
            font-size: 16px;
            margin-bottom: 20px;
            border-bottom: 1px solid #E9EAEC;
            padding-bottom: 10px;
            margin-left:0;
            width:100%;
          }
        }

        p{
          text-align: right;
        }

        ul li{
          line-height: 28px;
          margin-bottom: 20px;
          font-size: 18px;
        }
      }

      .related_pages{
        margin:20px 0;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;

        a.related_pages_post{
          display:flex;
          flex-direction: column;
          align-items:flex-start;
          justify-content: center;
          color:#000;
          text-decoration: none;

          img{
            width:100%;
            height:200px;
            object-fit: cover;
            object-position:top;
            margin-bottom:20px;
          }

          span.title{
            font-weight:600;
            font-size:17px;
            margin-bottom:10px;
          }
        }
      }

      .breadcrumbs{
        margin:0 0 20px;
        font-size:13px;

        @media(max-width:768px){
          border-bottom:1px solid #E9EAEC;
          padding-bottom:20px;
        }
      }

      .faq{
        margin-bottom:20px;

        a.faq-question{
          font-size:18px;
          border-bottom: 1px solid #E9EAEC;
          display:block;
          padding:15px 0;
        }

        .span_title_big{margin-bottom:0;}
        .faq-answer{display:none;}
      }

      .smalltext{
        display: block;
        //padding-bottom: 3px;
        //border-bottom: 1px solid #d0d1d3;

        p{font-size: 13px;line-height:1.2em;}
      }

      .content_info{
        display:flex;

        &.onecol{
          .article-form{width:100%;}
        }

        @media(max-width:768px){flex-direction: column-reverse;}

        .infobox{
          background-color: #e9eaec;
          padding: 15px;
          width:48%;
          margin-right:2%;
          display:flex;
          align-items:center;
          text-align:center;
          flex-direction:column;

          @media(max-width:768px){width:100%;margin-right:0;margin-bottom:10px;}

          p{margin:0;}
          img{
            border: 1px solid #878787;
            border-radius: 160px;
            display: block;
            margin: 25px auto 10px;
            max-width: 65%;
          }
          .lawyer_name{
            margin-bottom:20px;
          }
        }

        .article-form{
          @media(max-width:768px){margin-bottom:0;}
        }
      }

      .article-form{
        border: 1px solid #eee;
        padding: 10px;
        width:50%;

        @media(max-width:768px){width:100%;margin-bottom:20px;}

        span.title{
          background-color: #e9eaec;
          padding: 18px;
          font-weight: bold;
          width: 100%;
          display: block;
          text-align: center;
          font-size: 20px;
          letter-spacing: -1px;

          span.break-mobile{

            @media(max-width:1024px){display:block;}
          }
        }

        .inputs_wrapper{
          display:grid;
          grid-template-columns: 1fr;
          margin-top:15px;
          grid-gap:15px;
        }
      }

      .iframe_title{

        & + p{
          margin:0 0 15px;

          iframe{
            margin:0 auto 0;
          }
        }
      }
    }
  }
}

.error404{

  .error404-content{
    text-align:center;

    h1{
      @media(max-width:768px){
        font-size:26px;
      }
    }

    a.btn{
      padding: 10px 16px;
      border: 3px solid #333;
      border-radius: 25px;
      margin: 25px 15px 0 0;
      display: inline-block;
      color: #000;
      text-decoration: none;
      transition:.3s;

      @media(max-width:768px){
        margin:25px 0;
      }

      &:hover{
        background:#333;
        color:#fff;
      }
    }
  }
}

#enable-toolbar-trigger{
  top:-80px !important;
}

.related-articles{
  padding:0 20px 20px;
  background:#fff;

  .span_title_big{
    border-top:1px solid #E9EAEC;
    padding:10px 15px 0 0;
    margin:0 0 20px;
    position:relative;

    &:before{
      position:absolute;
      right: 0;
      top:17px;
      transform: translate(-50%, 0);
      content:"";
      display:block;
      width:4px;
      height:20px;
      background:red;
    }
  }

  .articles{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:25px;

    @media(max-width:991px){
      grid-template-columns: 1fr;
      margin:0 auto;
      text-align:center;
    }

    .item{
      margin:0 auto;
      max-width:360px;

      .thumb{
        position:relative;

        .title{
          position:absolute;
          bottom:0;
          background:rgba(255,255,255,0.8);
          width:100%;
          color: #000000;
          font-size:18px;
          text-align:center;
          font-weight:bold;
          padding:5px;
        }
      }

    }
  }
}

.more-subjects{
  padding:0 20px 20px;
  background:#fff;

  .span_title_big{
    border-top:1px solid #E9EAEC;
    padding:10px 15px 0 0;
    margin:0 0 20px;
    position:relative;

    &:before{
      position:absolute;
      right: 0;
      top:17px;
      transform: translate(-50%, 0);
      content:"";
      display:block;
      width:4px;
      height:20px;
      background: #8c6f0b !important;
    }
  }

  .articles{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 20px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    
    @media (max-width: 768px) {
      grid-template-columns:1fr 1fr;
      width:100%;
      grid-auto-columns: inherit;
      grid-auto-flow:inherit;
    }

    .item{

      a{
        display:flex;
        align-items:center;
        flex-direction: column;
        gap:8px;
        color:#000;
        text-decoration: none;
        text-align:center;
        line-height:1.4em;

        .icon{
          background:#fff;
          border-radius:50%;
          width:65px;
          height:65px;
          border:2px solid red;
          display:flex;
          align-items:center;
          justify-content:center;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
        }

      }

    }

  }
}

.post__toc{
  border: 1px solid #eee;
  padding:10px;
  margin:30px 0;

  &-title{
    background-color: #e9eaec;
    padding: 18px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
  }

  ul{
    list-style-type:none;
    padding:0 20px 0 0;

    @media(max-width:768px){padding:0;}
  }

  .post__toc-tocList-item{
    list-style-type:none;
    margin-bottom:10px !important;
    padding:0;
    display:flex;
    align-items:flex-start;

    a{flex:1;}

    svg{
      margin-left:6px;
    }

    @media(max-width:768px){
      margin-bottom:20px !important;
    }

    svg{
      path{
        fill:var(--toc-color);
      }
    }
  }

  &-expand{
    display:flex;
    margin:15px 20px 4px;
    align-items:center;
    justify-content: center;

    @media(max-width:768px){
      align-items:center;
      justify-content: center;
      margin:20px 0 0;
    }

    a{
      position:relative;
      background-color: #e9eaec;
      padding: 6px 8px 6px 25px;
      color:#000;
      text-decoration: none;
      font-size:12px;
      font-weight:bold;
      transition:.3s;

      &:hover{
        background-color:#dddddd;
      }

      &:after{
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 7px);
        left: 10px;
        width: 8px;
        height: 8px;
        border: 2px solid #000;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
      }
    }
  }
}
