@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body{
  background:#E9EAEC;
  font-family: 'Open Sans Hebrew', sans-serif;
  padding-bottom:60px;

  &.sticky{overflow:hidden;}
}

.container{
  max-width:1170px;
  margin:0 auto;
  position:relative;
}

p, ol li{
  line-height: 28px;
  margin-bottom: 20px;
  font-size: 18px;
}

.span_title{
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  line-height: 24px;
}

.span_title_big{
  font-weight: bold;
  color: #333;
  line-height: 32px;
  letter-spacing: -1px;
  margin: 20px 0;
  font-size: 24px;
  display:block;
  span.break-mobile{

    @media(max-width:1024px){display:block;}
  }
}

#pojo-a11y-toolbar{
  top:100px;
  @media(max-width:768px){
    top:auto !important;
    bottom:100px;
    left:0;
  }
}

.pojo-a11y-toolbar-toggle{
  @media(max-width:768px){

    svg{
      width:15px;
      height:15px;
    }
  }
}

.page-content li{
  line-height:1.4em;
  margin-bottom:20px;
}

.side_menu_mobile{

  background: #fff;
  padding: 5px 20px;
  margin-top: 10px;

  ul{
    list-style-type:none;
    padding:0;

    li{
      font-size: 16px;
      margin-bottom: 20px;
      border-bottom: 1px solid #E9EAEC;
      padding-bottom: 10px;
    }
  }

  @media(min-width:768px){display:none;}
}

a{
  color:#337ab7;

  &:hover{
    text-decoration: underline;
    color:#23527c;
  }
}

.cookie_input{display:none;}

body.thankyou{
  .content_info, .smalltext{display:none !important;}
}

h1{
  font-size: 34px;
  font-weight: 900;
  color: #333;
  line-height: 34px;
  letter-spacing: -1px;
  margin: 5px 0 0 0;
}

h2{
  font-size: 23px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  line-height: 32px;
  letter-spacing: -1px;
}

h3{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
  line-height: 30px;
}

input,textarea, select{
  width: 100%;
  border: solid 1px #d1d1d1;
  border-radius: 3px;
  margin-top:5px;
  font-size:16px;
  padding:8px 10px;
}

.wpcf7 input[type="tel"]{direction:rtl;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

form.wpcf7-form{

  p{margin:0;}
  &.form-loading .wpcf7-submit{color:transparent;}
  .t_submit{position:relative;}

  .wpcf7-submit{
    border: 0;
    background-color: #8b6e0b;
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }

  .ajax-loader {
    position: absolute;
    background: url(../images/loader.svg) no-repeat center;
    background-size: 22px;
    top: 4px;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0;
    z-index: 1;
  }

  .textarea-55 + p{display:none;}

  .wpcf7-response-output{margin:20px 0 0 0;padding:0;border:0 !important;}
  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
    border:0;
    font-weight:500;
    font-size:18px;
  }

}

.hide_desktop{
  @media(min-width:768px){display:none;}
}

.hide_mobile{
  @media(max-width:768px){display:none;}
}

.mejs-container{margin:25px 0;}

[data-header="header2"]{

  @media(max-width:991px){
    .content_wrap{margin-top:170px;}
  }
  @media(max-width:768px){
    .content_wrap{margin-top:145px;}
    .menu_mobile.menu-sticky{top:75px;}
  }

  @media(max-width:380px){
    .content_wrap{margin-top:135px;}
  }
}

.header2{
  justify-content: space-between;
  flex-direction: column;
  align-items:flex-start;

  @media(max-width:768px){height:135px;}
  @media(max-width:380px){height:125px;}

  .logo{
    img{
      @media(max-width:320px){max-width:150px !important;}
    }
  }

  .header_upper{
    width:100%;
    display:flex;
    align-items:center;
  }

  .header_mobile_btn_wrap{
    flex:1;

    &_color{
      padding:10px 14px;
      border-radius:9px;
      max-width:53px;
    }

    .header_mobile_btn{
      position:relative;
      top:inherit;
      left:inherit;
      height:18px;

      span{

      }
    }

  }

  .header_bottom{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    margin:10px 0 0;

    .text{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;

      span{
        font-size:14px;
      }

      a{
        display:block;
        margin:2px 0;
        color:#000;

        span{
          font-weight:bold;
          font-size:20px;

          @media(max-width:320px){font-size:16px;}
        }
      }

    }

    .cta{
      a{
        padding:7px 25px;
        border-radius:8px;

        @media(max-width:380px){font-size:14px;padding:5px 18px;}
      }
    }
  }

}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 0;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align:right;

  .wpcf7-response-output{
    margin:0 !important;
  }

  .thanks{
    margin:25px 0 20px;
  }

  .form-group{
    &.half{
      margin:10px 0;
      display:flex;
      gap:20px;
    }
  }

  .heading{

    .title{
      font-weight:600;
      padding:10px 0 12px;
      border-bottom:1px solid #d1d1d1;
      text-align:center;
    }

    .subtitle{
      padding:20px;
      color:var(--text-color);
      font-weight:600;

      p{
        margin:0;
        line-height:1.8em;
      }
    }
  }

  .content{
    padding:0 20px 20px 20px;
  }
}

.quiz-container{
  border: 1px solid #eee;
  padding: 40px 80px;
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;

  @media (max-width: 768px) {
    padding:0 0 20px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    border-right:0;
    border-left:0;
    border-radius:0;
  }

  .quiz-content{
    width:100%;
  }

  .quiz-question{

    .question-header {
      background-color: var(--main-quiz-color);
      color: white;
      padding: 15px 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-weight:600;
    }

    .question-title {
      margin: 0;
      font-size: 18px;

      @media (max-width: 768px) {
          font-size:16px;
      }
    }

  }

  .quiz-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--main-quiz-color);
    font-size: 24px;
  }

  .quiz-header{
    text-align:center;
    display:flex;
    flex-direction: column;
    gap:3px;
    margin:0 0 25px;

    @media (max-width: 768px) {
      padding-top: 30px;
    }

    .quiz-users-count{
      font-size: 14px;
      font-weight: 500;
      color: #6f6f6f;
    }

    .quiz-title{
      font-size: 28px;
      font-weight: 700;
      color: #333;

      @media (max-width: 768px) {
          font-size:24px;
      }
    }

    .quiz-subtitle{
        font-size: 20px;
        font-weight: 600;
        color: #333;

      @media (max-width: 768px) {
          font-size:16px;
      }
    }
  }

  .answers-container{

    .answer-option {
      padding: 10px 20px 8px 10px;
      margin: 5px 0;
      cursor: pointer;
      background-color: #F2F2F2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition:.3s;
      min-height:38px;

      &:hover{
        background-color: #C2C2C2;
      }
    }

    .answer-correct {
      background-color: #6FC36E !important;
      color: #000;
    }
    .answer-wrong {
      background-color: #FF5D5E !important;
      color: #000;
    }
    .answer-icon {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;

      i{
        font-size:20px;
      }
    }
    .answer-correct .answer-icon,
    .answer-wrong .answer-icon {
      visibility: visible; /* Show icon but maintain space */
    }
    .thank-you-message {
      text-align: center;
      padding: 20px;
    }

  }

  .thank-you-message{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap:15px;

    .thankyou-title{
      font-size: 28px;
      font-weight: 700;
      color: #333;
    }

    a{
      border: 0;
      border-radius: 3px;
      background-color: var(--main-quiz-color);
      padding: 10px;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

