/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 15px 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Magnific Popup CSS */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */

.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

footer {
  background: #CDCDCD;
  margin-top: 10px;
  padding: 20px;
}

footer .footer_cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 20px;
}

footer .footer_cols.grid-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_cols .fcol .fcol-title {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

footer .footer_cols .fcol .fcol-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .footer_cols .fcol .fcol-menu li {
  margin-bottom: 10px;
}

footer .footer_cols .fcol .fcol-menu li a {
  color: #000;
  font-size: 15px;
}

footer .footer_cols .fcol .fcol-text p {
  font-size: 15px;
  margin: 0;
}

footer .footer_cols .fcol .fcol-social {
  margin-top: 20px;
}

footer .footer_cols .fcol .fcol-social a {
  margin-left: 15px;
}

footer .footer_cols .fcol .fcol-social img {
  width: 22px;
  height: 22px;
}

.links_text {
  background: #fff;
  margin-top: 10px !important;
  padding: 25px;
  text-align: center;
  font-size: 14px;
}

.links_text ul {
  display: inline-block;
  margin: 0;
  padding: 0 10px 0 0;
  list-style-type: none;
}

.fixed_strip {
  width: 100%;
  height: 51px;
  position: fixed;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.58);
  bottom: 0;
  background-color: #8b6e0b;
  -webkit-box-shadow: 0px -7px 17px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 0px -7px 17px -4px rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.fixed_strip .c_button {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}

.fixed_strip .phone {
  padding-top: 5px;
  margin-left: 10px;
}

.fixed_strip .ref_phone {
  margin: 0 8px;
}

.fixed_strip.hide {
  bottom: -75px;
  pointer-events: none;
}

.footer_mobile_strip {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
}

.footer_mobile_strip.cols3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_mobile_strip a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.footer_mobile_strip a:hover,
.footer_mobile_strip a:active {
  text-decoration: none;
  color: #fff;
}

.footer_mobile_strip a img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.footer_mobile_strip a .small {
  font-size: 12px;
  width: 100%;
}

.footer_mobile_strip a.phone {
  background: #494846;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer_mobile_strip a.contact {
  background: #8B6D13;
}

.footer_mobile_strip a.whatsapp {
  background: #2ab21f;
}

.fixed_form {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 10px 35px;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed_form span.span_title_big {
  font-size: 21px;
  margin: 2px 0 0 0;
  width: 100%;
  text-align: center;
}

.fixed_form span.span_title_big span.break-mobile {
  display: inline-block;
}

.fixed_form h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.fixed_form:not(.open) {
  opacity: 0;
  pointer-events: none;
}

.fixed_form a.close_fixed_form {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  height: 26px;
  width: 29px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  z-index: 9999;
}

.fixed_form a.close_fixed_form span {
  width: 100%;
  height: 4px;
  display: block;
  background: #000;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  position: absolute;
  opacity: 1;
  left: 0;
}

.fixed_form a.close_fixed_form span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.fixed_form a.close_fixed_form span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fixed_form a.close_fixed_form span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fixed_form a.close_fixed_form span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

header {
  background: #fff;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

header.fullwidth {
  max-width: 100%;
}

header .header {
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 93px;
}

header .pthumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

header .pthumb:hover {
  text-decoration: none;
  color: #000;
}

header .pthumb .pthumb-icon {
  border-radius: 25px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
}

header .pthumb .pthumb-icon img {
  max-width: 23px;
}

header .menu {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .menu > ul > li {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header .menu > ul > li.menu-item-has-children:after {
  position: absolute;
  top: 50%;
  left: -4px;
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  display: block;
  height: 7px;
  width: 7px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  margin-right: 4px;
  margin-left: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  content: "";
  z-index: 15;
}

header .menu > ul > li:hover .sub-menu {
  top: 99%;
}

.rtl header .menu > ul > li:hover .sub-menu {
  right: 0;
  left: auto;
}

header .menu > ul > li > a {
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.25;
  white-space: nowrap;
  text-decoration: none;
  color: #337ab7;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header .menu > ul > li > a:hover {
  color: #000;
}

header .menu > ul > li .sub-menu {
  display: block;
  position: absolute;
  top: -1000%;
  left: 0;
  background: #fff;
  padding: 15px 25px 15px;
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.1);
  width: auto;
  list-style: none;
  margin: 0;
  z-index: 10;
}

header .menu > ul > li .sub-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .menu > ul > li .sub-menu a {
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 10px 0;
  line-height: 1.43;
  color: #337ab7;
  white-space: nowrap;
}

header .menu > ul > li .sub-menu a:hover {
  color: #000;
  text-decoration: none;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-left: 15px;
}

.menu a {
  font-size: 17px;
}

.header_mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #fff;
  padding: 15px 65px 15px 15px;
  position: absolute;
  top: 0;
  z-index: 9999;
  opacity: 1;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  width: 100%;
}

.header_mobile.header-scrolled {
  position: fixed;
  padding: 15px 65px 15px 15px;
  width: 100%;
  -webkit-box-shadow: 0px 9px 5px -4px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 9px 5px -4px rgba(0, 0, 0, 0.11);
}

.header_mobile.header-scrolled.scroll-up {
  top: -90px;
  opacity: 0;
}

.header_mobile .thumb img {
  max-width: 60px;
  height: auto;
  margin: 0 auto;
}

.header_mobile .thumb img.rounded {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
  border: 1px solid #fff;
  padding: 1px;
  border-radius: 50%;
}

.header_mobile .logo {
  margin-right: 15px;
}

.header_mobile_btn {
  width: 25px;
  height: 26px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  position: absolute;
  z-index: 10;
  top: 35px;
  right: 15px;
}

.header_mobile_btn span {
  width: 100%;
  height: 4px;
  display: block;
  background: #8b6e0b;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  position: absolute;
  opacity: 1;
  left: 0;
}

.header_mobile_btn span:nth-child(1) {
  top: 0;
}

.header_mobile_btn span:nth-child(2),
.header_mobile_btn span:nth-child(3) {
  top: 7px;
}

.header_mobile_btn span:nth-child(4) {
  top: 14px;
}

.header_mobile_btn.open span:nth-child(1) {
  top: 12px;
  left: 50%;
  width: 0%;
}

.header_mobile_btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header_mobile_btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header_mobile_btn.open span:nth-child(4) {
  top: 12px;
  left: 50%;
  width: 0%;
}

.header_mobile .header_dial {
  position: absolute;
  height: 90px;
  background: #dfba9f;
  width: 55px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_mobile .header_dial img {
  max-width: 33px;
}

.menu_mobile {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background: #fff;
  margin-top: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  opacity: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_mobile_image {
  margin: 30px 0;
  text-align: center;
}

.menu_mobile_image img {
  max-width: 100%;
  height: auto;
}

.menu_mobile:not(.open) {
  opacity: 0;
  pointer-events: none;
}

.menu_mobile.menu-sticky {
  position: fixed;
  top: 75px;
  border-top: 7px solid #E9EAEC;
}

.menu_mobile > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

.menu_mobile > ul > li {
  position: relative;
}

.menu_mobile > ul > li.active.menu-item-has-children > a {
  color: #337ab7;
}

.menu_mobile > ul > li.active.menu-item-has-children:after {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
}

.menu_mobile > ul > li.menu-item-has-children:after {
  position: absolute;
  top: 12px;
  left: 0;
  display: block;
  height: 13px;
  width: 12px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-right: 4px;
  margin-left: 4px;
  background-size: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  content: "";
  z-index: 15;
}

.menu_mobile > ul > li .sub-menu {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
  display: none;
}

.menu_mobile > ul > li .sub-menu a {
  padding-right: 15px;
  font-size: 16px;
}

.menu_mobile > ul > li a {
  color: #000;
  font-size: 18px;
  border-bottom: 1px solid #E9EAEC;
  padding: 10px 0;
  width: 100%;
  display: block;
  z-index: 20;
  text-decoration: none;
}

body {
  background: #E9EAEC;
  font-family: 'Open Sans Hebrew', sans-serif;
  padding-bottom: 60px;
}

body.sticky {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

p,
ol li {
  line-height: 28px;
  margin-bottom: 20px;
  font-size: 18px;
}

.span_title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  line-height: 24px;
}

.span_title_big {
  font-weight: bold;
  color: #333;
  line-height: 32px;
  letter-spacing: -1px;
  margin: 20px 0;
  font-size: 24px;
  display: block;
}

#pojo-a11y-toolbar {
  top: 100px;
}

.page-content li {
  line-height: 1.4em;
  margin-bottom: 20px;
}

.side_menu_mobile {
  background: #fff;
  padding: 5px 20px;
  margin-top: 10px;
}

.side_menu_mobile ul {
  list-style-type: none;
  padding: 0;
}

.side_menu_mobile ul li {
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E9EAEC;
  padding-bottom: 10px;
}

a {
  color: #337ab7;
}

a:hover {
  text-decoration: underline;
  color: #23527c;
}

.cookie_input {
  display: none;
}

body.thankyou .content_info,
body.thankyou .smalltext {
  display: none !important;
}

h1 {
  font-size: 34px;
  font-weight: 900;
  color: #333;
  line-height: 34px;
  letter-spacing: -1px;
  margin: 5px 0 0 0;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  line-height: 32px;
  letter-spacing: -1px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
  line-height: 30px;
}

input,
textarea,
select {
  width: 100%;
  border: solid 1px #d1d1d1;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 16px;
  padding: 8px 10px;
}

.wpcf7 input[type="tel"] {
  direction: rtl;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

form.wpcf7-form p {
  margin: 0;
}

form.wpcf7-form.form-loading .wpcf7-submit {
  color: transparent;
}

form.wpcf7-form .t_submit {
  position: relative;
}

form.wpcf7-form .wpcf7-submit {
  border: 0;
  background-color: #8b6e0b;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

form.wpcf7-form .ajax-loader {
  position: absolute;
  background: url(../images/loader.svg) no-repeat center;
  background-size: 22px;
  top: 4px;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: 0;
  z-index: 1;
}

form.wpcf7-form .textarea-55 + p {
  display: none;
}

form.wpcf7-form .wpcf7-response-output {
  margin: 20px 0 0 0;
  padding: 0;
  border: 0 !important;
}

form.wpcf7-form div.wpcf7-validation-errors,
form.wpcf7-form div.wpcf7-acceptance-missing {
  border: 0;
  font-weight: 500;
  font-size: 18px;
}

.mejs-container {
  margin: 25px 0;
}

.header2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header2 .header_upper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header2 .header_mobile_btn_wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header2 .header_mobile_btn_wrap_color {
  padding: 10px 14px;
  border-radius: 9px;
  max-width: 53px;
}

.header2 .header_mobile_btn_wrap .header_mobile_btn {
  position: relative;
  top: inherit;
  left: inherit;
  height: 18px;
}

.header2 .header_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10px 0 0;
}

.header2 .header_bottom .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header2 .header_bottom .text span {
  font-size: 14px;
}

.header2 .header_bottom .text a {
  display: block;
  margin: 2px 0;
  color: #000;
}

.header2 .header_bottom .text a span {
  font-weight: bold;
  font-size: 20px;
}

.header2 .header_bottom .cta a {
  padding: 7px 25px;
  border-radius: 8px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 0;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align: right;
}

.white-popup .wpcf7-response-output {
  margin: 0 !important;
}

.white-popup .thanks {
  margin: 25px 0 20px;
}

.white-popup .form-group.half {
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.white-popup .heading .title {
  font-weight: 600;
  padding: 10px 0 12px;
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}

.white-popup .heading .subtitle {
  padding: 20px;
  color: var(--text-color);
  font-weight: 600;
}

.white-popup .heading .subtitle p {
  margin: 0;
  line-height: 1.8em;
}

.white-popup .content {
  padding: 0 20px 20px 20px;
}

.quiz-container {
  border: 1px solid #eee;
  padding: 40px 80px;
  position: relative;
  min-height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.quiz-container .quiz-content {
  width: 100%;
}

.quiz-container .quiz-question .question-header {
  background-color: var(--main-quiz-color);
  color: white;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.quiz-container .quiz-question .question-title {
  margin: 0;
  font-size: 18px;
}

.quiz-container .quiz-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--main-quiz-color);
  font-size: 24px;
}

.quiz-container .quiz-header {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  margin: 0 0 25px;
}

.quiz-container .quiz-header .quiz-users-count {
  font-size: 14px;
  font-weight: 500;
  color: #6f6f6f;
}

.quiz-container .quiz-header .quiz-title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.quiz-container .quiz-header .quiz-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.quiz-container .answers-container .answer-option {
  padding: 10px 20px 8px 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  min-height: 38px;
}

.quiz-container .answers-container .answer-option:hover {
  background-color: #C2C2C2;
}

.quiz-container .answers-container .answer-correct {
  background-color: #6FC36E !important;
  color: #000;
}

.quiz-container .answers-container .answer-wrong {
  background-color: #FF5D5E !important;
  color: #000;
}

.quiz-container .answers-container .answer-icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.quiz-container .answers-container .answer-icon i {
  font-size: 20px;
}

.quiz-container .answers-container .answer-correct .answer-icon,
.quiz-container .answers-container .answer-wrong .answer-icon {
  visibility: visible;
  /* Show icon but maintain space */
}

.quiz-container .answers-container .thank-you-message {
  text-align: center;
  padding: 20px;
}

.quiz-container .thank-you-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.quiz-container .thank-you-message .thankyou-title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.quiz-container .thank-you-message a {
  border: 0;
  border-radius: 3px;
  background-color: var(--main-quiz-color);
  padding: 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

body.thankyou .content_wrap .block_left .page_content .content p {
  text-align: center !important;
}

.content_wrap {
  background: #fff;
  margin-top: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.content_wrap.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content_wrap.reverse .block_left {
  padding-left: 30px;
  padding-right: 0;
}

.content_wrap .block_right {
  width: 30%;
}

.content_wrap .block_right .logo {
  text-align: center;
}

.content_wrap .block_right .big_image {
  padding-bottom: 25px;
}

.content_wrap .block_right .big_image img.big-image {
  border: 1px solid #878787;
  border-radius: 160px;
  display: block;
  margin: 25px auto 0;
  max-width: 65%;
}

.content_wrap .block_right .big_image .lawyer_name {
  margin-top: 10px;
  text-align: center;
  display: block;
}

.content_wrap .block_right .contact_box {
  background-color: #e9eaec;
  padding: 15px;
  margin: 0;
  text-align: center;
}

.content_wrap .block_right .contact_box span.title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 29px;
  letter-spacing: -1px;
  display: block;
}

.content_wrap .block_right .contant_details {
  margin-top: 40px;
}

.content_wrap .block_right .contant_details h3 {
  font-weight: bold;
}

.content_wrap .block_right .contant_details h2 {
  margin: 20px 0;
  font-size: 24px;
}

.content_wrap .block_right .contant_details .address {
  border-bottom: 1px solid #eee;
}

.content_wrap .block_right .contant_details .side_menu ul {
  list-style-type: none;
  padding: 0;
}

.content_wrap .block_right .contant_details .side_menu ul li {
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E9EAEC;
  padding-bottom: 10px;
}

.content_wrap .block_left {
  width: 70%;
  padding-right: 30px;
}

.content_wrap .block_left .page_content .content iframe {
  margin: 25px auto;
  text-align: center;
  display: block;
  max-width: 100%;
}

.content_wrap .block_left .page_content .content ul.menu {
  list-style-type: none;
  padding: 0;
}

.content_wrap .block_left .page_content .content ul.menu li {
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E9EAEC;
  padding-bottom: 10px;
  margin-left: 0;
  width: 100%;
}

.content_wrap .block_left .page_content .content p {
  text-align: right;
}

.content_wrap .block_left .page_content .content ul li {
  line-height: 28px;
  margin-bottom: 20px;
  font-size: 18px;
}

.content_wrap .block_left .page_content .related_pages {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.content_wrap .block_left .page_content .related_pages a.related_pages_post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  text-decoration: none;
}

.content_wrap .block_left .page_content .related_pages a.related_pages_post img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 20px;
}

.content_wrap .block_left .page_content .related_pages a.related_pages_post span.title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 10px;
}

.content_wrap .block_left .page_content .breadcrumbs {
  margin: 0 0 20px;
  font-size: 13px;
}

.content_wrap .block_left .page_content .faq {
  margin-bottom: 20px;
}

.content_wrap .block_left .page_content .faq a.faq-question {
  font-size: 18px;
  border-bottom: 1px solid #E9EAEC;
  display: block;
  padding: 15px 0;
}

.content_wrap .block_left .page_content .faq .span_title_big {
  margin-bottom: 0;
}

.content_wrap .block_left .page_content .faq .faq-answer {
  display: none;
}

.content_wrap .block_left .page_content .smalltext {
  display: block;
}

.content_wrap .block_left .page_content .smalltext p {
  font-size: 13px;
  line-height: 1.2em;
}

.content_wrap .block_left .page_content .content_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.content_wrap .block_left .page_content .content_info.onecol .article-form {
  width: 100%;
}

.content_wrap .block_left .page_content .content_info .infobox {
  background-color: #e9eaec;
  padding: 15px;
  width: 48%;
  margin-right: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_wrap .block_left .page_content .content_info .infobox p {
  margin: 0;
}

.content_wrap .block_left .page_content .content_info .infobox img {
  border: 1px solid #878787;
  border-radius: 160px;
  display: block;
  margin: 25px auto 10px;
  max-width: 65%;
}

.content_wrap .block_left .page_content .content_info .infobox .lawyer_name {
  margin-bottom: 20px;
}

.content_wrap .block_left .page_content .article-form {
  border: 1px solid #eee;
  padding: 10px;
  width: 50%;
}

.content_wrap .block_left .page_content .article-form span.title {
  background-color: #e9eaec;
  padding: 18px;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: -1px;
}

.content_wrap .block_left .page_content .article-form .inputs_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 15px;
  grid-gap: 15px;
}

.content_wrap .block_left .page_content .iframe_title + p {
  margin: 0 0 15px;
}

.content_wrap .block_left .page_content .iframe_title + p iframe {
  margin: 0 auto 0;
}

.error404 .error404-content {
  text-align: center;
}

.error404 .error404-content a.btn {
  padding: 10px 16px;
  border: 3px solid #333;
  border-radius: 25px;
  margin: 25px 15px 0 0;
  display: inline-block;
  color: #000;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.error404 .error404-content a.btn:hover {
  background: #333;
  color: #fff;
}

#enable-toolbar-trigger {
  top: -80px !important;
}

.related-articles {
  padding: 0 20px 20px;
  background: #fff;
}

.related-articles .span_title_big {
  border-top: 1px solid #E9EAEC;
  padding: 10px 15px 0 0;
  margin: 0 0 20px;
  position: relative;
}

.related-articles .span_title_big:before {
  position: absolute;
  right: 0;
  top: 17px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: red;
}

.related-articles .articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.related-articles .articles .item {
  margin: 0 auto;
  max-width: 360px;
}

.related-articles .articles .item .thumb {
  position: relative;
}

.related-articles .articles .item .thumb .title {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  color: #000000;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.more-subjects {
  padding: 0 20px 20px;
  background: #fff;
}

.more-subjects .span_title_big {
  border-top: 1px solid #E9EAEC;
  padding: 10px 15px 0 0;
  margin: 0 0 20px;
  position: relative;
}

.more-subjects .span_title_big:before {
  position: absolute;
  right: 0;
  top: 17px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: #8c6f0b !important;
}

.more-subjects .articles {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.more-subjects .articles .item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  color: #000;
  text-decoration: none;
  text-align: center;
  line-height: 1.4em;
}

.more-subjects .articles .item a .icon {
  background: #fff;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: 2px solid red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
}

.post__toc {
  border: 1px solid #eee;
  padding: 10px;
  margin: 30px 0;
}

.post__toc-title {
  background-color: #e9eaec;
  padding: 18px;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  letter-spacing: -1px;
}

.post__toc ul {
  list-style-type: none;
  padding: 0 20px 0 0;
}

.post__toc .post__toc-tocList-item {
  list-style-type: none;
  margin-bottom: 10px !important;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post__toc .post__toc-tocList-item a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post__toc .post__toc-tocList-item svg {
  margin-left: 6px;
}

.post__toc .post__toc-tocList-item svg path {
  fill: var(--toc-color);
}

.post__toc-expand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 20px 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post__toc-expand a {
  position: relative;
  background-color: #e9eaec;
  padding: 6px 8px 6px 25px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.post__toc-expand a:hover {
  background-color: #dddddd;
}

.post__toc-expand a:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  border-left: 0;
  border-top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 768px) {
  header .menu > ul > li.menu-item-has-children:hover:after {
    -webkit-transform: translateY(-50%) rotate(315deg);
        -ms-transform: translateY(-50%) rotate(315deg);
            transform: translateY(-50%) rotate(315deg);
  }

  .side_menu_mobile {
    display: none;
  }

  .hide_desktop {
    display: none;
  }
}

@media (min-width: 991px) {
  .header_mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  footer .footer_cols {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .span_title_big span.break-mobile {
    display: block;
  }

  .content_wrap .block_left .page_content .article-form span.title span.break-mobile {
    display: block;
  }
}

@media (max-width: 991px) {
  footer .footer_cols.grid-5 {
    grid-template-columns: 1fr 1fr;
  }

  footer .footer_cols {
    grid-template-columns: 1fr 1fr;
  }

  header {
    display: none;
  }

  header .menu > ul > li .sub-menu a {
    font-size: 14px;
    padding: 1px 0;
  }

  [data-header="header2"] .content_wrap {
    margin-top: 170px;
  }

  .content_wrap {
    margin-top: 115px;
  }

  .content_wrap .block_right {
    display: none;
  }

  .content_wrap .block_left {
    width: 100%;
    padding-right: 0;
  }

  .related-articles .articles {
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */

  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 768px) {
  footer .footer_cols.grid-5 {
    grid-template-columns: 1fr;
  }

  footer .footer_cols {
    grid-template-columns: 1fr;
  }

  header .menu > ul > li.menu-item-has-children:after {
    top: 20px;
    left: 25px;
    width: 13px;
    height: 12px;
  }

  .header_mobile {
    height: 90px;
  }

  .header_mobile .logo img {
    max-width: 220px;
  }

  #pojo-a11y-toolbar {
    top: auto !important;
    bottom: 100px;
    left: 0;
  }

  .pojo-a11y-toolbar-toggle svg {
    width: 15px;
    height: 15px;
  }

  .hide_mobile {
    display: none;
  }

  [data-header="header2"] .content_wrap {
    margin-top: 145px;
  }

  [data-header="header2"] .menu_mobile.menu-sticky {
    top: 75px;
  }

  .header2 {
    height: 135px;
  }

  .quiz-container {
    padding: 0 0 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  .quiz-container .quiz-question .question-title {
    font-size: 16px;
  }

  .quiz-container .quiz-header {
    padding-top: 30px;
  }

  .quiz-container .quiz-header .quiz-title {
    font-size: 24px;
  }

  .quiz-container .quiz-header .quiz-subtitle {
    font-size: 16px;
  }

  .content_wrap.reverse .block_left {
    padding-left: 0;
  }

  .content_wrap {
    margin-top: 100px;
  }

  .content_wrap .block_left .page_content .breadcrumbs {
    border-bottom: 1px solid #E9EAEC;
    padding-bottom: 20px;
  }

  .content_wrap .block_left .page_content .content_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .content_wrap .block_left .page_content .content_info .infobox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .content_wrap .block_left .page_content .content_info .article-form {
    margin-bottom: 0;
  }

  .content_wrap .block_left .page_content .article-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .error404 .error404-content h1 {
    font-size: 26px;
  }

  .error404 .error404-content a.btn {
    margin: 25px 0;
  }

  .more-subjects .articles {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-auto-columns: inherit;
    grid-auto-flow: inherit;
  }

  .post__toc ul {
    padding: 0;
  }

  .post__toc .post__toc-tocList-item {
    margin-bottom: 20px !important;
  }

  .post__toc-expand {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 0;
  }
}

@media (max-width: 490px) {
  .header_mobile .logo {
    margin-right: 12px;
  }
}

@media (max-width: 480px) {
  .header_mobile .logo img {
    max-width: 192px;
  }

  .content_wrap .block_left .page_content .content iframe {
    height: 200px;
  }

  .content_wrap .block_left .page_content .content iframe[data-name="pb-iframe-player"] {
    height: 105px;
    margin: 0;
  }
}

@media (max-width: 390px) {
  .header_mobile .logo img {
    max-width: 183px;
  }
}

@media (max-width: 380px) {
  .header_mobile {
    height: 75px;
  }

  .header_mobile .thumb img {
    max-width: 50px;
  }

  .header_mobile_btn {
    top: 30px;
  }

  .header_mobile .header_dial {
    height: 75px;
    width: 45px;
  }

  .header_mobile .header_dial img {
    max-width: 26px;
  }

  [data-header="header2"] .content_wrap {
    margin-top: 135px;
  }

  .header2 {
    height: 125px;
  }

  .header2 .header_bottom .cta a {
    font-size: 14px;
    padding: 5px 18px;
  }

  .content_wrap {
    margin-top: 83px;
  }
}

@media (max-width: 365px) {
  .header_mobile .logo img {
    max-width: 175px;
  }
}

@media (max-width: 350px) {
  .header_mobile .logo img {
    max-width: 152px;
  }
}

@media (max-width: 320px) {
  .header_mobile .logo img {
    max-width: 140px;
  }

  .header_mobile .header_dial {
    display: none;
  }

  .header2 .logo img {
    max-width: 150px !important;
  }

  .header2 .header_bottom .text a span {
    font-size: 16px;
  }
}

@media (max-width: 319px) {
  .header_mobile .logo img {
    max-width: 180px;
  }
}