footer{
  background:#CDCDCD;
  margin-top:10px;
  padding:20px;

  .footer_cols{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
    padding:0 20px;

    &.grid-5{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      @media(max-width:991px){grid-template-columns: 1fr 1fr;}
      @media(max-width:768px){grid-template-columns: 1fr;}
    }

    @media(max-width:1200px){padding:0;}
    @media(max-width:991px){grid-template-columns: 1fr 1fr;}
    @media(max-width:768px){grid-template-columns: 1fr;}

    .fcol{

      .fcol-title{display:block;font-weight:bold;margin-bottom:15px;}

      .fcol-menu{
        list-style-type: none;
        margin:0;
        padding:0;

        li{
          margin-bottom:10px;

          a{
            color:#000;
            font-size:15px;
          }
        }
      }

      .fcol-text{
        p{
          font-size:15px;
          margin:0;
        }

      }

      .fcol-social{
        margin-top:20px;

        a{
          margin-left:15px;
        }
        img{width:22px;height:22px;}
      }
    }
  }
}

.links_text{
  background:#fff;
  margin-top:10px !important;
  padding:25px;
  text-align:center;
  font-size:14px;

  ul{
    display:inline-block;
    margin:0;
    padding:0 10px 0 0;
    list-style-type: none;
  }
}

.fixed_strip{
  width: 100%;
  height: 51px;
  position: fixed;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.58);
  bottom: 0;
  background-color: #8b6e0b;
  -webkit-box-shadow: 0px -7px 17px -4px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -7px 17px -4px rgba(0,0,0,0.45);
  box-shadow: 0px -7px 17px -4px rgba(0,0,0,0.45);
  display: flex;
  align-items:center;
  justify-content: center;
  z-index:10;
  transition:.4s;

  .c_button{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
  }

  .phone{
    padding-top: 5px;
    margin-left: 10px;
  }

  .ref_phone{margin:0 8px;}

  &.hide{
    bottom:-75px;
    pointer-events: none;
  }
}

.footer_mobile_strip{
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height:50px;

  &.cols3{grid-template-columns: 1fr 1fr 1fr;}

  a{
    color:#fff;
    display:flex;
    height:auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size:14px;

    &:hover, &:active{text-decoration: none;color:#fff;}

    img{width:16px;height:16px;margin-left:8px;}
    .small{font-size:12px;width:100%;}

    &.phone{
      background: #494846;
      flex-wrap:wrap;
      //padding-top:6px;
    }

    &.contact{background:#8B6D13;}
    &.whatsapp{background:#2ab21f;}
  }
}

.fixed_form{
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  transition:.3s;
  padding:10px 35px;
  z-index:9999;
  display: flex;
  flex-direction: column;
  align-items: center;

  span.span_title_big{
    font-size:21px;margin: 2px 0 0 0;width: 100%;text-align: center;

    span.break-mobile{display:inline-block;}
  }

  h3{
    font-size:24px;
    margin-bottom:20px;
  }

  &:not(.open) {
    opacity:0;
    pointer-events: none;
  }

  a.close_fixed_form{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    height: 26px;
    width: 29px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    z-index: 9999;


    span {
      width: 100%;
      height: 4px;
      display: block;
      background: #000;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      position: absolute;
      opacity: 1;
      left: 0;
    }

    span:nth-child(1) {
      top: 12px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2){
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 12px;
      width: 0%;
      left: 50%;
    }


  }

}
