header{
  background:#fff;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;

  &.fullwidth{max-width:100%;}

  .header{
    padding:0 20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:93px;
  }

  //&.uplogo{padding:8px 20px;}

  .pthumb{
    display:flex;
    align-items:center;
    color:#000;
    font-size:22px;
    font-weight:600;
    letter-spacing:1px;

    &:hover{text-decoration: none;color:#000;}

    .pthumb-icon{
      border-radius: 25px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left:5px;

      img{
        max-width:23px;
      }
    }
  }

  @media(max-width:991px){display:none;}
}

header .menu{
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;

  > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:100%;

    > li{
      position:relative;
      height:100%;
      display:flex;
      justify-content: center;
      align-items:center;
      cursor: pointer;
      transition: 0.3s;

      &.menu-item-has-children{
        &:after{
          position: absolute;
          top: 50%;
          left: -4px;
          transform: translateY(-50%) rotate(135deg);
          display: block;
          height: 7px;
          width: 7px;
          //background: url('../images/menu-arrow.svg') center center no-repeat;
          border-right: 2px solid black;
          border-top: 2px solid black;
          margin-right: 4px;
          margin-left: 4px;
          transition:.3s;
          content: "";
          z-index:15;

          @media(max-width:768px){
            top:20px;
            left:25px;
            width:13px;
            height:12px;
          }
        }

        @media(min-width:768px){
          &:hover:after{
            //background: url('../images/menu-arrow.svg') center center no-repeat;
            transform: translateY(-50%) rotate(315deg);
          }
        }

      }

      &:hover .sub-menu{
        top:99%;

        .rtl &{right:0;left:auto;}
      }

    }

    > li > a{
      padding: 0 16px;
      font-size:16px;
      line-height:1.25;
      white-space: nowrap;
      text-decoration: none;
      color:#337ab7;
      height:100%;
      display:flex;
      justify-content: center;
      align-items:center;
      transition:.3s;

      &:hover{
        color:#000;
      }
    }

    > li .sub-menu{
      display: block;
      position: absolute;
      top: -1000%;
      left: 0;
      background:#fff;
      padding:15px 25px 15px;
      box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.1);
      width:auto;
      list-style: none;
      margin: 0;
      z-index:10;

      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }

      a{
        font-size:16px;
        font-weight:500;
        display:block;
        padding:10px 0;
        line-height: 1.43;
        color:#337ab7;
        white-space:nowrap;

        @media(max-width:991px){
          font-size:14px;
          padding:1px 0;
        }

        &:hover{
          color:#000;
          text-decoration: none;
        }
      }
    }

  }

}

.menu{

  ul{
    padding:0;
    margin:0;
    list-style-type:none;
    display:flex;
  }

  li{
    margin-left:15px;
  }

  a{
    font-size:17px;
  }

}

.header_mobile{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 15px 65px 15px 15px;
  position:absolute;
  top:0;
  z-index:9999;
  opacity:1;
  transition:opacity .3s;
  width:100%;
  @media(min-width:991px){display:none;}
  @media(max-width:768px){height:90px;}
  @media(max-width:380px){height:75px;}

  &.header-scrolled{
    position:fixed;
    padding: 15px 65px 15px 15px;
    width:100%;
    box-shadow: 0px 9px 5px -4px rgba(0,0,0,0.11);

    &.scroll-up{
      top:-90px;
      opacity:0;
    }
  }

  .thumb img{
    max-width:60px;
    height: auto;
    margin: 0 auto;

    @media(max-width:380px){max-width:50px;}

    &.rounded{
      -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
      border: 1px solid #fff;
      padding: 1px;
      border-radius: 50%;
    }

  }


  .logo{
    margin-right:15px;

    @media(max-width:490px){margin-right:12px;}

    img{

      @media(max-width:768px){max-width:220px;}
      @media(max-width:480px){max-width:192px;}
      @media(max-width:390px){max-width:183px;}
      @media(max-width:365px){max-width:175px;}
      @media(max-width:350px){max-width:152px;}
      @media(max-width:320px){max-width:140px;}
      @media(max-width:319px){max-width:180px;}

      //@media(max-width:380px){max-width:150px;}
    }
  }

  &_btn{
    width: 25px;
    height: 26px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 15px;

    @media(max-width:380px){top:30px;}

    span{
      width: 100%;
      height: 4px;
      display: block;
      background: #8b6e0b;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      position: absolute;
      opacity: 1;
      left: 0;

      &:nth-child(1){
        top:0;
      }

      &:nth-child(2), &:nth-child(3){
        top:7px;
      }

      &:nth-child(4){
        top:14px;
      }

    }

    &.open{

      span:nth-child(1){
        top: 12px;
        left: 50%;
        width: 0%;
      }

      span:nth-child(2){
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      span:nth-child(3){
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      span:nth-child(4){
        top: 12px;
        left: 50%;
        width: 0%;
      }
    }
  }

  .header_dial{
    position: absolute;
    height: 90px;
    background: #dfba9f;
    width: 55px;
    left: 0;
    display:flex;
    align-items:center;
    justify-content: center;

    @media(max-width:380px){height:75px;width:45px;}
    @media(max-width:320px){display:none;}

    img{
      max-width:33px;

      @media(max-width:380px){max-width:26px;}
    }
  }
}

.menu_mobile{
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background: #fff;
  margin-top: 10px;
  transition: .3s;
  display:flex;
  padding:25px;
  opacity:1;
  flex-direction: column;

  &_image{
    margin:30px 0;
    text-align:center;

    img{
      max-width:100%;
      height:auto;
    }
  }

  &:not(.open) {
    opacity:0;
    pointer-events: none;
  }

  &.menu-sticky{
    position:fixed;
    top:75px;
    border-top:7px solid #E9EAEC;
  }

  > ul{
    list-style-type: none;
    padding:0;
    width:100%;
    margin:0;

    > li{
      position:relative;

      &.active{
        &.menu-item-has-children{

          > a{color:#337ab7;}

          &:after{
            transform: rotate(315deg);
          }

        }
      }

      &.menu-item-has-children{
        &:after{
          position: absolute;
          top: 12px;
          left: 0;
          display: block;
          height: 13px;
          width: 12px;
          border-right: 2px solid black;
          border-top: 2px solid black;
          transform: rotate(135deg);
          margin-right: 4px;
          margin-left: 4px;
          //background: url('../images/menu-arrow.svg') center center no-repeat;
          background-size:100%;
          transition:.3s;
          content: "";
          z-index:15;
        }
      }

      .sub-menu{
        list-style-type: none;
        padding:0;
        width:100%;
        margin:0;
        display:none;

        a{
          padding-right:15px;
          font-size:16px;
        }
      }

      a{
        color:#000;
        font-size:18px;
        //margin-bottom:20px;
        border-bottom: 1px solid #E9EAEC;
        padding:10px 0;
        width:100%;
        display:block;
        z-index:20;
        text-decoration: none;
      }
    }
  }
}
